# Task1

In [1]:
import sys

In [2]:
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

In [3]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."
print (text)

# This is not a comment because it's inside quotes.

In [4]:
#Using Python as a Calculator
2 + 2

4

In [5]:
50 - 5*6

20

In [6]:
(50 - 5*6) / 4

5.0

In [7]:
8 / 5  # division always returns a floating point number

1.6

In [8]:
17 / 3  # classic division returns a float

5.666666666666667

In [9]:
17 // 3  # floor division discards the fractional part

5

In [10]:
 17 % 3  # the % operator returns the remainder of the division

2

In [11]:
5 * 3 + 2  # result * divisor + remainder

17

In [12]:
5 ** 2  # 5 squared

25

In [13]:
2 ** 7  # 2 to the power of 7

128

In [14]:
width = 20
height = 5 * 9
width * height

900

In [15]:
# try to access an undefined variable
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#NameError: name 'n' is not defined

In [16]:
4 * 3.75 - 1

14.0

In [17]:
#In interactive mode, the last printed expression is assigned to the variable _
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [18]:
price + _

113.0625

In [19]:
round(_, 2)

113.06

In [20]:
#STRINGS
'spam eggs'  # single quotes

'spam eggs'

In [21]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [22]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [23]:
'"Yes," they said.'

'"Yes," they said.'

In [24]:
"\"Yes,\" they said."

'"Yes," they said.'

In [25]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [26]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [27]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [28]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [29]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [30]:
'Py' 'thon'

'Python'

In [31]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [32]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [33]:
word = 'Python'
word[0]  # character in position 0

'P'

In [34]:
word[5]  # character in position 5

'n'

In [35]:
word[-1]  # last character

'n'

In [36]:
word[-2]  # second-last character

'o'

In [37]:
 word[-6]

'P'

In [38]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [39]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [40]:
word[:2] + word[2:]

'Python'

In [41]:
word[:4] + word[4:]

'Python'

In [42]:
 word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [43]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [44]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [45]:
#Attempting to use an index that is too large will result in an error
#word[42]  # the word only has 6 characters
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#IndexError: string index out of range

In [46]:
word[4:42]

'on'

In [47]:
word[42:]

''

In [48]:
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#TypeError: 'str' object does not support item assignment
#>>> word[2:] = 'py'
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#TypeError: 'str' object does not support item assignment

In [49]:
#If you need a different string, you should create a new one
'J' + word[1:]

'Jython'

In [50]:
word[:2] + 'py'

'Pypy'

In [51]:
#LISTS

In [52]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [53]:
squares[0]  # indexing returns the item

1

In [54]:
squares[-1]

25

In [55]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [56]:
squares[:]

[1, 4, 9, 16, 25]

In [57]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [59]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [60]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [61]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [62]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [63]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [64]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [65]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [66]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [67]:
x[0]

['a', 'b', 'c']

In [68]:
 x[0][1]

'b'

In [69]:
#################################
#First Steps Towards Programming#
#################################
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [70]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [71]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [72]:
x = int(input("Please enter an integer: "))

Please enter an integer: 1

In [73]:
# if Statements
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Single

In [74]:
# for Statements

In [75]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [76]:
# Code that modifies a collection while iterating over that same collection can be tricky to get right. 
# Instead, it is usually more straight-forward to loop over a copy of the collection or to create a new collection

# Strategy:  Iterate over a copy

users = {'user': 'Brown Rogers', 'status': 'inactive', 'user1': 'Adam Rogers', 'status1': 'active'}

for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]
        
print(users.items())

dict_items([('user', 'Brown Rogers'), ('user1', 'Adam Rogers'), ('status1', 'active')])

In [77]:
# Strategy:  Create a new collection
active_users = {'user': 'Brown Rogers', 'status': 'inactive', 'user1': 'Adam Rogers', 'status1': 'active'}
for user, status in users.items():
    if status == 'active':
        active_users[user] = 'T'
        
print(active_users)

{'user': 'Brown Rogers', 'status': 'inactive', 'user1': 'Adam Rogers', 'status1': 'T'}

In [78]:
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status
print(active_users)

{'status1': 'active'}

In [79]:
# range() Function
for i in range(5):
    print(i)

0
1
2
3
4

In [80]:
range(5, 10)

range(5, 10)

In [81]:
range(0, 10, 3)

range(0, 10, 3)

In [82]:
range(-10, -100, -30)

range(-10, -100, -30)

In [83]:
#To iterate over the indices of a sequence, you can combine range() and len()
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [84]:
# In most such cases, however, it is convenient to use the enumerate()
# A strange thing happens if you just print a range
print(range(10))

range(0, 10)

In [85]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [86]:
list(range(4))

[0, 1, 2, 3]

In [87]:
# break and continue Statements, and else Clauses on Loops
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [88]:
# continues with the next iteration of the loop
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [89]:
# pass Statements

# while True:
#     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

# class MyEmptyClass:
#     pass

# def initlog(*args):
#    pass   # Remember to implement this!

# Defining Functions
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [90]:
fib

In [91]:
f = fib
fib(0)

In [92]:
fib(0)
print(fib(0))

None

In [93]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result
f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [94]:
# Default Argument Values
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [95]:
# This tests whether or not a sequence contains a certain value
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [96]:
# Important warning: The default value is evaluated only once.
# This makes a difference when the default is a mutable object such as a list, dictionary, or instances of most classes
# For example, the following function accumulates the arguments passed to it on subsequent calls:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [97]:
# If you don’t want the default to be shared between subsequent calls, you can write the function like this instead
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [98]:
# Keyword Arguments
# Functions can also be called using keyword arguments of the form kwarg=value. 
# For instance, the following function:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

# accepts one required argument (voltage) and three optional arguments (state, action, and type). 
# This function can be called in any of the following ways:

parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [99]:
# but ALL the following calls would be INVALID
# parrot()                     # required argument missing
# parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
# parrot(110, voltage=220)     # duplicate value for the same argument
# parrot(actor='John Cleese')  # unknown keyword argument

In [100]:
# In a function call, keyword arguments must follow positional arguments. 
# All the keyword arguments passed must match one of the arguments accepted by the function

def function(a):
    pass

function(a=0)
function(0)

In [101]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])
        
# Function called like this

cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [102]:
# Special parameters
# A function definition may look like: def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2)
# pos -> positional / ( order matters) kwd -> keyword only *

#If / and * are not present, arguments may be passed to a function by position or by keyword

# standard_arg, the most familiar form
def standard_arg(arg):
    print(arg)

standard_arg(2)
standard_arg(arg=2)

2
2

In [103]:
#kwd_only_args only allows keyword arguments as indicated by a * in the function definition
def kwd_only_arg(*, arg):
    print(arg)

kwd_only_arg(arg=3)

3

In [104]:
# Arbitrary Argument Lists
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))
    
# Normally, these variadic arguments will be last in the list of formal parameters
# Any formal parameters which occur after the *args parameter are ‘keyword-only’ arguments

def concat(*args, sep="/"):
    return sep.join(args)

concat("earth", "mars", "venus")

'earth/mars/venus'

In [105]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [106]:
# Unpacking Argument Lists
list(range(3, 6))            # normal call with separate arguments

[3, 4, 5]

In [107]:
# Dictionaries can deliver keyword arguments with the **-operator:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [108]:
# Lambda Expressions
# Small anonymous functions can be created with the lambda keyword
# They are syntactically restricted to a single expression

def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)

42

In [109]:
 f(1)

43

In [110]:
# Pass a small function as an argument:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [111]:
# Documentation Strings
def my_function():
    """Do nothing, but document it.
    
    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [112]:
#  Function Annotations
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [113]:
#  Lists
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [114]:
fruits.count('tangerine')

0

In [115]:
fruits.index('banana')

3

In [116]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [117]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [118]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [119]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [120]:
fruits.pop()

'pear'

In [121]:
# Using Lists as Stacks
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [122]:
stack.pop()

7

In [123]:
stack

[3, 4, 5, 6]

In [124]:
stack.pop()

6

In [125]:
stack.pop()

5

In [126]:
stack

[3, 4]

In [127]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()

'Eric'

In [128]:
queue.popleft()

'John'

In [129]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [130]:
# List Comprehensions
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [133]:
# A list comprehension consists of brackets containing an expression followed by a for clause, 
# then zero or more for or if clauses
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [134]:
#and it’s equivalent to
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [135]:
vec = [-4, -2, 0, 2, 4]

[x*2 for x in vec] # create a new list with the values doubled

[-8, -4, 0, 4, 8]

In [136]:
[x for x in vec if x >= 0]  # filter the list to exclude negative numbers

[0, 2, 4]

In [137]:
[abs(x) for x in vec]  # apply a function to all the elements

[4, 2, 0, 2, 4]

In [138]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [139]:
[(x, x**2) for x in range(6)] # create a list of 2-tuples like (number, square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [140]:
# The tuple must be parenthesized, otherwise an error is raised like this: [x, x**2 for x in range(6)] (invalid syntax)
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
# Complex expressions and nested functions
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [142]:
# Nested List Comprehensions
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[row[i] for row in matrix] for i in range(4)] #Transpose rows and columns

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [143]:
# Nested listcomp is evaluated in the context of the for
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [144]:
# It  is the same as:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [145]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [146]:
# del statement: remove an item from a list given its index instead of its value
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [147]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [148]:
del a[:]
a

[]

In [149]:
#  delete entire variables
del a

In [150]:
#  Tuples and Sequences
t = 12345, 54321, 'hello!'
t[0]

12345

In [151]:
t

(12345, 54321, 'hello!')

In [152]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [153]:
# Tuples are immutable:
# t[0] = 88888
#    Traceback (most recent call last):
#      File "<stdin>", line 1, in <module>
#    TypeError: 'tuple' object does not support item assignment

# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [154]:
# Empty tuples are constructed by an empty pair of parentheses
# A tuple with one item is constructed by following a value with a comma 
# (it is not sufficient to enclose a single value in parentheses)

empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

0

In [155]:
len(singleton)

1

In [156]:
singleton

('hello',)

In [157]:
# The statement t = 12345, 54321, 'hello!' is an example of tuple packing: the values 12345, 54321 and 'hello!' 
x, y, z = t

In [158]:
# Sets: an unordered collection with no duplicate elements
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'orange', 'apple', 'pear', 'banana'}

In [159]:
'orange' in basket                 # fast membership testing

True

In [160]:
'crabgrass' in basket

False

In [161]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
a                                   # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [162]:
 a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [163]:
 a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [164]:
a & b                              # letters in both a and b

{'a', 'c'}

In [165]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [166]:
# Set comprehensions are also supported
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [167]:
# Dictionaries: are indexed by keys, which can be any immutable type
# strings and numbers can always be keys
# Tuples can be used as keys if they contain only strings, numbers, or tuples
# If a tuple contains any mutable object either directly or indirectly, it cannot be used as a key
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [168]:
 tel['jack']

4098

In [169]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [170]:
# Performing list(d) on a dictionary returns a list of all the keys used in the dictionary, in insertion order
list(tel)

['jack', 'guido', 'irv']

In [171]:
# If you want it sorted, just use sorted(d) instead
sorted(tel)

['guido', 'irv', 'jack']

In [172]:
'guido' in tel

True

In [173]:
'jack' not in tel

False

In [174]:
# The dict() constructor builds dictionaries directly from sequences of key-value pairs
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [175]:
# dict comprehensions can be used to create dictionaries from arbitrary key and value expressions
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [176]:
# When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [177]:
# Looping Techniques
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [178]:
# When looping through a sequence
# The position index and corresponding value can be retrieved at the same time using the enumerate()
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [179]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [180]:
# To loop over a sequence in reverse, first specify the sequence in a forward direction and then reversed() 
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [181]:
# To loop over a sequence in sorted order
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [182]:
# Create a new list
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [183]:
# It is possible to assign the result of a comparison or other Boolean expression to a variable
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [184]:
# Comparing Sequences and Other Types
# Comparing objects of different types with < or > is legal:  0 equals 0.0
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True

In [185]:
# Positional parameters are executable since Python 3.8 version 
# Python version running for Jupyter Notebook 6.0.3 is Python 3.7.6
# Next code is succesfully executed on python prompt 3.8.1 (showed in Issues Found.pdf)

# pos_only_arg is restricted to only use positional parameters as there is a /
def pos_only_arg(arg, /):
    print(arg)

pos_only_arg(1)

SyntaxError: invalid syntax (<ipython-input-185-f6fbafc82385>, line 5)

In [ ]:
# last uses all three calling conventions in the same function definition
def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)
    
combined_example(1, 2, kwd_only=3)
combined_example(1, standard=2, kwd_only=3)

In [ ]:
# # Function definition has a potential collision between the positional argument name and **kwds which has name as a key

# Wrong function definion
def foo(name, **kwds):
    return 'name' in kwds

foo(1, **{'name': 2})

#-----------------------------------------------------------------
#-----------------------------------------------------------------
#-----------------------------------------------------------------

# Right function definion
def foo(name, /, **kwds):
    return 'name' in kwds

foo(1, **{'name': 2})

# The use case will determine which parameters to use in the function definition